:root {
  --uphold-light: #f5f9fc;
  --uphold-gray-light: #96a4b2;
  --uphold-gray-dark: #586472;
  --uphold-dark: #091135;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--uphold-dark);
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
